a:link,
a:visited,
ul {
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.woff') format('woff'),
        url('Montserrat-BlackItalic.woff') format('woff'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
}

.emoji {
    height: 16px;
}



/* 1й экран ---------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 1025px) {

    .header {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #EFF5FB;
        padding: 20px 120px 0px;
        height: 52px;
    }

    .header__logo img {
        width: 51px;
        height: auto;
    }

    .header__menu_button {
        display: none;
    }

    .header__menu li {
        display: inline-block;
        margin-right: 20px;
    }



    main {
        background-color: rgba(0, 8, 255, 0.914);
        padding: 16px 120px 1px 120px;
        display: flex;
        background-image: url('../images/fon_1.png'), url('../images/fon_2.png'), url('../images/fon_3.png');
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 27% 52%, 100% 86%, 100% 99%;
        background-size: 29%, 17%, 6%;
    }

    #main,
    #ribbon {
        flex-grow: 1;
    }

    #main {
        background-color: rgba(0, 0, 255, 0.307);
        max-width: 690px;
        margin-right: 120px;
    }

    #ribbon {
        background-color: rgba(58, 226, 43, 0.264);

    }

    #ribbon div {
        background-color: #E6F0FD;
        border-radius: 16px;
        margin-bottom: 24px;
        width: 282px;
        height: 512px;
        margin-left: auto;
    }

    .ribbon__bock-free_1,
    .ribbon__bock-free_2 {
        display: flex;
        flex-direction: column;
        margin-top: 88px;
    }

    .ribbon__bock-free_2 a {
        position: relative;
        z-index: 1;
    }

    .ribbon__bock-free_1 img {
        margin-top: 24px;
    }

    .ribbon__bock-free_2 img {
        margin-top: 24px;
        width: 140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }



    .ribbon__bock-free_1_h3,
    .ribbon__bock-free_2_h3 {
        margin: 24px 24px 0px 24px;
        text-align: center;
    }

    .ribbon__bock-free_1_p {
        margin: 11px 24px 0px;
        text-align: center;
    }

    .ribbon__bock-free_1_buttom,
    .ribbon__bock-free_2_buttom {
        margin: auto auto 24px;
        width: 234px;
        height: 48px;
        background-color: #35B3A9;
        border: none;
        border-radius: 4px;
        color: aliceblue;
        font-weight: bold;
        font-size: 16px;
    }

    .footer__img img {
        width: 100%;
        height: auto;
    }




}

/* 2й экран ---------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 770px) and (max-width: 1024px) {

    .header {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #EFF5FB;
        padding: 20px 32px 0px;
        height: 52px;
    }

    .header__logo img {
        width: 51px;
        height: auto;
    }

    .header__menu_button {
        display: none;
    }

    .header__menu li {
        display: inline-block;
        margin-right: 20px;
    }






    main {
        background-color: rgba(111, 255, 0, 0.903);
        padding: 16px 32px 1px 32px;
        display: flex;
    }

    #main {
        background-color: rgba(0, 0, 255, 0.307);
        max-width: 714px;
        margin-right: 24px;
    }

    footer {
        display: none;
    }


}

/* 3й экран ---------------------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 391px) and (max-width: 769px) {

    .header {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #EFF5FB;
        padding: 11px 16px 0px;
        height: 45px;
    }

    .header__logo img {
        width: 48px;
        height: auto;
    }

    .header__button,
    .header__menu {
        display: none;
    }

    main {
        background-color: rgba(255, 255, 0, 0.903);
        padding: 16px 20px 1px 20px;
        display: block;
    }

    #main {
        background-color: rgba(0, 0, 255, 0.307);
        max-width: 690px;
        margin-right: 0px;
    }

    footer {
        display: none;
    }



}

/* 4й экран ---------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 390px) {

    .header {
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #EFF5FB;
        padding: 11px 16px 0px;
        height: 45px;
    }

    .header__logo img {
        width: 48px;
        height: auto;
    }

    .header__button,
    .header__menu {
        display: none;
    }

    main {
        background-color: rgba(255, 47, 0, 0.903);
        padding: 16px 16px 1px 16px;
        display: block;
    }

    #main {
        background-color: rgba(0, 0, 255, 0.307);
        max-width: 690px;
        margin-right: 0px;
    }

    footer {
        display: none;
    }


}